{% load static %}


{% for post in object_list %}

<div class="card mb-3">
  {% if post.image %}
  <a href="{% url 'website:post_detail' post.id %}">
    <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
  </a>
  {% endif %}
  <div class="card-body">
    {% if not post.is_public %}
    <h5><span class="badge badge-secondary">下書き</span></h5>
    {% endif %}
    <p class="card-text">{{ post.published_at|date }}</p>
    <a href="{% url 'website:post_detail' post.id %}">
      <h5 class="card-title">{{ post.title }}</h5>
    </a>
  </div>
</div>

{% endfor %}
